<!DOCTYPE html>
<html lang="es"/>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Renta de cargadores frontales, cargadores frontales en renta, distruibuidor de cargadores frontales liu gong en mexico. Llamanos (81) 8040-1020" />

	<title>Renta de Cargadores Frontales</title>
	<link rel="stylesheet" href="/static/style.css">
	<!--scripts Nivo Slider-->
	 <link rel="stylesheet" href="/static/plugins/themes/default/default.css"  />
    <link rel="stylesheet" href="/static/plugins/themes/light/light.css"  />
    <link rel="stylesheet" href="/static/plugins/themes/dark/dark.css"  />
    <link rel="stylesheet" href="/static/plugins/themes/bar/bar.css"  />
    <link rel="stylesheet" href="/static/responsive.css">
    <link rel="stylesheet" href="/static/nivo-slider.css"  />
    <link rel="stylesheet" href="/static/nav.css">

  



	<!--scripts-->

	<script  src="modernizr.js"></script>
	 <script type="text/javascript" src="js/jMenu.jquery.js"></script>
	 <script>
	  (function() {
	    var cx = '007468420203755002459:sd1lyon4tee';
	    var gcse = document.createElement('script');
	    gcse.type = 'text/javascript';
	    gcse.async = true;
	    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
	        '//www.google.com/cse/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(gcse, s);
	  })();
	</script>

	<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
	
</head>
<body>
<section class="contenido">


	<header>					
			<figure class="fade" id="logo">
				<a href="index.html"><img src="/static/img/logo.png" /></a>
			</figure>	

			<figure class="fade" id="sublogo"><a href="#"><img class="sub-logos" src="/static/img/marcas/dressta-logo.png" alt="Venta de Maquinaria Pesada Liu Gong"></a></figure>
			<figure class="fade" id="sublogo"><a href="#"><img class="sub-logos" src="/static/img/marcas/logo-genie.png" alt="Venta de Maquinaria Pesada Genie"></a></figure>
			<figure class="fade" id="sublogo"><a href="#"><img class="sub-logos" src="/static/img/marcas/logo-liugong.png" alt="Venta de Maquinaria Pesada Liu Gong"></a></figure>

			

			
	</header>





	<section id="info-box">


		
	</section>

	<section class="chat-contactanos">


	

	  	<a  href="https://chat01.emg-livechat.com/chat/chatstart.htm?domain=www.gruporivero.com" onClick="javascript:window.open('https://chat01.emg-livechat.com/chat/chatstart.htm?domain=www.gruporivero.com','wochat','width=484,height=361');return false;"  >CHATEA EN VIVO</a> <a href="href="https://chat01.emg-livechat.com/chat/chatstart.htm?domain=www.gruporivero.com" onClick="javascript:window.open('https://chat01.emg-livechat.com/chat/chatstart.htm?domain=www.gruporivero.com','wochat','width=484,height=361');return false;""><img id="icono-chat" src="/static/img/chat.png" alt="Chatea con Nosotros en Vivo"></a>

	  	<p id="contacto"><img src="/static/img/sobre.png" alt="" width="20px">: <a href="mailto:maquinaria@gruporivero.com">maquinaria@gruporivero.com</a></p>

	  	<p>Tel: 8040-1020</p>
	  	 <a href="contacto-maquinaria-construccion-liugong-genie-monterrey-mexico.html"><img src="/static/img/maps.png" width="150px" alt=""></a>

	  <!--  	   <div id="buscador" >
<script>
  (function() {
    var cx = '012029176796921891104:ig2gq3nnbdq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>-->


	   
	 
	</section>
	<!--Fin Seccion chat y contactanos -->
<!--Menu -->	
<nav> 
    <span><a href="#" class="mobile_close"></a></span><!-- Keep for Mobile Devices -->
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="#">Nuevos</a>
        <ul>
          <li><a href="maquinaria-pesada-construccion-nuevos-liugong-monterrey-mexico.html">Maquinaria Pesada</a></li>
           <li><a href="plataformas-elevacion-construccion-nuevas-genie-monterrey-mexico.html">Plataformas de Elevación</a></li>
          <li><a href="construccion-montacargas-nuevos-monterrey-nuevo-leon-mexico-liu-gong.html">Montacargas</a></li>
          <li><a href="#">Dressta</a></li>
        </ul>
      </li>
      <li><a href="#">Usados</a>
        <ul>
          <li><a href="maquinaria-pesada-construccion-usadas-liugong-monterrey-mexico.html">Maquinaria Pesada</a></li>
          <li><a href="plataformas-elevacion-construccion-usadas-genie-monterrey-mexico.html">Plataformas de Elevación</a></li>
          <li><a href="construccion-montacargas-usados-monterrey-nuevo-leon-mexico-liu-gong.html">Montacargas</a></li>
          <li><a href="#">Dressta</a></li>
        </ul>
      </li>      
      <li><a href="#">Renta</a>
        <ul>
          <li><a href="maquinaria-pesada-construccion-rentas-liugong-monterrey-mexico.html">Maquinaria Pesada</a></li>
          <li><a href="plataformas-elevacion-construccion-rentas-genie-monterrey-mexico.html">Plataformas de Elevación</a></li>
          <li><a href="construccion-montacargas-rentas-monterrey-nuevo-leon-mexico-liu-gong.html">Montacargas</a></li>
          <li><a href="#">Dressta</a></li>
        </ul>
      </li>
      <li><a href="servicio-maquinaria-construccion-liugong-genie-monterrey-mexico.html">Servicio</a></li>
      <li><a href="refacciones-maquinaria-construccion-liugong-genie-monterrey-mexico.html">Refacciones</a></li>
      <li><a href="quienes-somos-maquinaria-construccion-liugong-genie-monterrey-mexico.html">Quienes somos</a></li>
      <li><a href="noticias.html">Noticias</a></li>
      <li><a href="contacto-maquinaria-construccion-liugong-genie-monterrey-mexico.html">Contacto</a></li>
    </ul>   
</nav> 
<!--Fin Menu -->


<aside>
	<!-- video  -->
<article id="caja-video">
	
	 <div class="cajadevideo">
	        <div class="video">
	           <iframe src="http://www.youtube.com/embed/HoQrbNsd2V4?rel=0"></iframe>
	        </div>    
	 </div>
</article>
    <section id="form-box">
       <form action="emaixl.php" method="post">
          <fieldset>
            <h2>¿Necesitas Información?</h2>
            <label> Nombre: </label>
            <input  placeholder="Obligatorio" type="text" name="nombre" id="nombre" title="Nombre" maxlength="60" autocomplete="off" required />
            <br/>
            <label>   Correo: </label>
            <input placeholder="Obligatorio"  type="email" name="email" id="email" title="correo" required  align="right">
            </input>
            <br />
            <label> Teléfono*: </label>
            <input value="Obligatorio" type="tel" name="tel" id="tel" required>
            </input>
            <br>
            <br>
            <label>¿Cómo se enteró de nosotros?</label>
            <select name="como">
              <option value="Buscador">Google</option>
              <option value="Facebook">Facebook</option>
              <option value="Twitter">Twitter</option>
              <option value="TV">Youtube</option>
              <option value="TV">TV</option>
              <option value="Amigo">Amigo</option>
              <option value="Prensa">Prensa</option>
              <option value="Seccion">Sección Amarilla</option>
              <option value="Radio">Radio</option>
              <option value="Volante">Volante</option>
              <option value="Cliente">Cliente Anterior</option>
            </select>
            <br>
            <?
   require_once('recaptchalib.php');
   $publickey = "6Lcg0ugSAAAAAHvKUqMZbXeIeMxVZr3SrjRdPaKR"; // you got this from the signup page
   echo recaptcha_get_html($publickey);
?>
            <br>
            <label> Comentario: </label>
            <br />
            <textarea  placeholder="Obligatorio" cols="28" rows="10" name="mensaje"></textarea>
            <br />
            <input type="submit" value="ENVIAR" name="submit1" id="submit" />
          </fieldset>
          	
   </section>
<!-- video ends -->
</aside>


<section class="contenido-terciario"> 
	  
	<figure class="banner"><img  src="/static/img/maquinaria-rivero-cargadoresfrontales-liugong-monterrey-mexico.jpg" alt="banner"/></figure>
	 
   {% if equipment %}

   {% for equipment in equipments  %}
<section class="item-prueba">
  
<p><strong>Marca</strong>: {{equipment.brand}} </p>
  <p><strong>Familia</strong> {{equipment.family}} </p>
  <p> <strong>Modelo</strong>: {{equipment.model}} </p>
  <p><strong>Especificaciones</strong>: {{equipment.specification}} </p> <br>
</section>

    {% endfor %}
    {% else %}
        <p>Agrega un Retroexcavadora</p>
    {% endif %}

</section>
<style>
  .item-prueba
  {
    border:1px solid #cccccc;
    text-align: left;
    padding: 1em;
    margin: .5em;
    traa

  }

  .item-prueba:hover
  {
    background: #fffdd8;
  }
</style>

<footer>
<section>
	
	<article class="grid">
		<p>Venta de nuevos</p>
		<ul >
			<li><a href="maquinaria-pesada-construccion-nuevos-liugong-monterrey-mexico.html">Maquinaria Pesada</a></li>
			<li><a href="plataformas-elevacion-construccion-nuevas-genie-monterrey-mexico.html">Plataformas de Elevación</a></li>
			<li><a href="construccion-montacargas-nuevos-monterrey-nuevo-leon-mexico-liu-gong.html">Montacargas</a></li>
		</ul>
	</article>
	<article class="grid">
	<p>Venta de usados</p>
		<ul>
			<li><a href="maquinaria-pesada-construccion-usadas-liugong-monterrey-mexico.html">Maquinaria Pesada</a></li>
			<li><a href="plataformas-elevacion-construccion-usadas-genie-monterrey-mexico.html">Plataformas de Elevación</a></li>
			<li><a href="construccion-montacargas-usados-monterrey-nuevo-leon-mexico-liu-gong.html">Montacargas</a></li>
		</ul>
			</article>
	<article class="grid">
	<p>Renta</p>
		<ul>
			<li><a href="maquinaria-pesada-construccion-rentas-liugong-monterrey-mexico.html">Maquinaria Pesada</a></li>
			<li><a href="plataformas-elevacion-construccion-rentas-genie-monterrey-mexico.html">Plataformas de Elevación</a></li>
			<li><a href="construccion-montacargas-rentas-monterrey-nuevo-leon-mexico-liu-gong.html">Montacargas</a></li>
		</ul>
			</article>
	<article class="grid">
	<p>Enlaces de interes</p>
		<ul>
			<li><a href="servicio-maquinaria-construccion-liugong-genie-monterrey-mexico.html">Servicios</a></li>
			<li><a href="refacciones-maquinaria-construccion-liugong-genie-monterrey-mexico.html">Refacciones</a></li>
			<li><a href="quienes-somos-maquinaria-construccion-liugong-genie-monterrey-mexico.html">¿Quienes somos?</a></li>
			<li><a href="noticias.html">Noticias</a></li>
			
		</ul>
	</article>
	<article class="grid">
		<article class="item-social">
			<p>Empresa de </p>
			<figure class="fade">
			<a href="http://www.gruporivero.com" target="_blank">		
			<img class="logo-footer"src="/static/img/grupo-rivero-logo-2.png"  alt="Grupo Rivero "></a>

			</figure>
			<p>Siguenos en </p>
			<figure class="fade"><a href="http://www.facebook.com/agenciarivero" target="_blank"><img class="social-icons" src="/static/img/redes/fb_logo.png" alt="fb"></a></figure>
			<figure class="fade"><a href="http://www.twitter.com/agenciarivero" target="_blank"><img class="social-icons" src="/static/img/redes/tw_logo.png" alt="tw"></a></figure>
			<figure class="fade"><a href="http://www.youtube.com/channel/UCNd6t4SVOJTghwdXCZYVvCA" target="_blank"><img class="social-icons" src="/static/img/redes/youtube_logo.png" alt="yt"></a></figure>


			
		</article>
	</article>
</section>
<section> 
	
</section>
<p id="direccion_footer">Av. Sendero No. 501 Col. Las Misiones San Nicolás de los Garza N.L. Tel: 8040-1020 / 1967-2277   </p>
<a id="aviso-privacidad" href="aviso-de-privacidad-maquinaria-rivero.html">Aviso de Privacidad</a>
</footer>

 <script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider();
  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47122234-1', 'maquinariarivero.com');
  ga('send', 'pageview');

</script>

</section>



</body>
</html>
